/* Add your CSS styling here */
body{
    background-color: #518467;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    height: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b76a6a;
}

.registration-form {
    flex-basis: 50%;
    justify-content: center;
    padding: 20px;
    border: 5px solid #5a4436;
    border-radius: 5px;
    background-color: #b8b77ed4;
}
.registration-history {
    flex-basis: 48%;
    padding: 20px;
    border: 5px solid #187f3c;
    border-radius: 5px;
    background-color: #889f80e9;
}
h1{
    font-size: 60px;
    transform: translate(0vh,-6vh);
    color: #0d0d42;
}
h2{
    font-size: 60px;
    transform: translate(0vh,-7vh);
    color: rgb(67, 16, 61);
}
.row {
    display: flex;
    justify-content: space-between;
    transform: translate(0vh,-7vh);
    margin-bottom: 10px;
}
.row1{
    display: flex;
    justify-content: space-between;
    transform: translate(0vh,-4vh);
    margin-bottom: 10px;
}
.row1 input[type="checkbox"]{
    transform: scale(3);
}
.column {
    flex-basis: calc(50% - 10px);
}

label {
    display: block;
    font-weight: bold;
    font-size: 37px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 25px;
    border: 1px solid #e21010e1;
    border-radius: 3px;
    background-color: #70939d68;
    color:rgb(239, 6, 6);
}

button {
    background-color: #691f57;
    color: #fff;
    border: none;
    font-size: 30px;
    border: 5px solid rgb(129, 62, 62);
    padding: 10px 20px;
    border-radius: 3px;
    transform: translate(0vh,4vh);
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: orangered;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    transform: translate(-5vh,0vh);
    color: #0e12f9;
    
}
#history-details{
    color: forestgreen;
}
#historyList img {
    max-width: 200px;
    max-height: 180px;
    margin-left: 100px;
}
#scrollable-div {
    width: 700px; /* Set a width for the scrollable div */
    height: 900px; /* Set a height for the scrollable div */
    overflow: auto; /* Add scrollbars when content overflows */
}

p{
    font-size: 35px;
    transform: translate(10vh,-2vh);
}
a {
    text-decoration: none;
    color: #b11414;
    font-size: 35px;
}

a:hover {
    text-decoration: underline;
    color:navy;
}

